.textField{
    font-size: larger;
    border: 1px solid;
    border-radius: 10px;
    margin-right: 12px;
}

.art{
    width: 150px;
    height: 150px;
    border: 3px solid #999;
    border-radius: 10px;
}

.artistName{
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    width: 80%;
}

.rightDiv{
    padding-right: 8px;
}


.listDiv{
}
.playDiv{
}

h5{
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.mainDiv{

    font-family:fantasy;
}

.floatLeft{
    float: right;
}

.wrong{
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

.correct{
    color: limegreen;
    font-family: "Roboto Mono", Menlo, monospace;
}

.hints {
    font-size: larger;
    background: orange;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.totalPonits{
    font-size: larger;
}

ul{
    margin-bottom: 5px;
}

.sendBtn {
    font-size: larger;
}

.centered{
    text-align: center;
}