<div class="container row" >
    <div class="col-xs-6">
        <ul >
            <li class="list-unstyled table-bordered" ng-repeat="album in albums track by $index"> {{album.name}}</li>
        </ul>
    </div>
    <div class="col-xs-6">
        Artist Name: <input type="text" data-ng-model="guessed"/>
        <br/>
        <div>Current artist: {{ artistName }}</div>
        <button class="btn btn-default" ng-click="submitAnswer()" ng-disabled="loading">Send</button>

        <img ng-src = "{{picSrc}}" height="80" width="80" ng-show="showPic">
    </div>
</div>